/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

@font-face { font-family: mendoza-roman;
             src: url('../fonts/MendozaRoman/IT659___.TTF'); }
@font-face { font-family: mendoza-roman-small-caps;
             src: url('../fonts/MendozaRoman/IT661___.TTF'); }

::-moz-selection { color: black;
                   background: lightblue; }
::selection      { color: black;
                   background: lightblue; }

.console { font-family: mendoza-roman;
           padding-top: 10px;
           padding-bottom: 10px; }

.out { padding-bottom: 10px; }

.secondary { font-size: 0.75em;
            letter-spacing: -4px; }

.smallcaps { font-family: mendoza-roman-small-caps }

#code { padding: 20px;
        font-family: 'Consolas';
        display: none; }
