{% extends "layout.html" %}

{% block title %}Andrew Tribone{% endblock %}

{% block content %}
	<div class="container">
		<div class="row-fluid">
			<div class="row-fluid">
				<div class="hero-unit">
					<h1>
						Andrew Tribone
						<small>§Home</small>
					</h1>
					<p>
						Hi. This page is a work in progress. To see the source visit
						<a class="label label-info" href="https://github.com/att14/AndrewTribone">this cool website</a>.
						Or check it out below.
					</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">
								att14/AndrewTribone
							</li>
						{% for content in contents %}
							<li>
						{% if content.is_tree %}
								<a href=# id="tree" data-dirpath="{{ content.dirpath }}">
									<i class="icon-folder-close"></i>{{ content.filename }}
								</a>
						{% else %}
								<a href=# id="blob" data-dirpath="{{ content.dirpath }}">
									<i class="icon-file"></i>{{ content.filename }}
								</a>
						{% endif %}
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="span9"><pre id="code"></pre></div>
			</div>
		</div>
	</div>
{% endblock %}
